* {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
}
.wrapper {
  width: 1440px;
  padding: 20px 0;
}
.center {
  text-align: center;
}
#div-bienvenida {
  display: flex;
  flex-direction: column;
  background-color: #45deab;
  padding: 40px 0;
}
#div-bienvenida h2 {
  font-size: 36px;
  padding-bottom: 20px;
}
#div-bienvenida h4{
  font-size: 21px;
}
main h4 {
  font-size: 21px!important;
  padding: 20px 0 30px;
}
#presentacionTeBot, #personas, #servicios{
  padding: 10px 0;
}
#presentacionTeBot #entrada{
  padding: 20px 0;
  font-size: 18px;
}
#presentacionTeBot #pasos {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 20px 0;
}
#presentacionTeBot #pasos div {
  background-color: #defff4;
  width: 22%;
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#presentacionTeBot #pasos div span {
  width: 100%;
  color: #45deab;
  font-size: 24px;
  font-weight: 800;
  margin: 0;
}
#presentacionTeBot #pasos div p {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
}
#pasos a{
  font-size: 18px;
  font-weight: 800;
  color: #1eb884;
}
#presentacionTeBot #personas section{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#presentacionTeBot #personas section figure{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin-top: 20px;
}
#presentacionTeBot #personas section figure img{
  width: 100%;
}
#presentacionTeBot #personas section div{
  padding: 20px;
  background-color: #eefff9;
  border-radius: 20px;
  width: 30%;
}
#presentacionTeBot #personas section div h5{
  font-size: 18px;
}
#presentacionTeBot #personas section div ul{
  list-style: none;
  padding: 20px 0 0;
  width: 90%;
  text-align: left;
}
#presentacionTeBot #personas section div ul li{
  font-size: 16px;
  padding: 5px 0;
}
#presentacionTeBot #personas section div ul li span{
  font-weight: 800;
}
#personas p{
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  padding: 20px 0;
}
#personas a{
  font-size: 18px;
  font-weight: 800;
  color: #45deab;
}
#servicios section{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 100%;
}
#servicios section .servicio {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 30px 0;
  justify-content: space-evenly;
}
#servicios section .servicio figure{
  width: 80px;
}
#servicios section .servicio img {
  padding: 20px 0;
}
#servicios section .servicio p {
  width: 50%;
}
#contactoFooter{
  background-color: #464646;
}
#contactoFooter h4{
  color: #eaeaea;
  font-size: 21px;
  width: 50%;
  padding: 10px 0 20px;
}
#contactoFooter #redes{
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contactoFooter #redes svg{
  width: 30px;
  color: #45deab;
}
#contactoFooter #redes svg:hover{
  color: #1eb884;
}